@font-face {
  font-family: RubikMonoOne;
  src: url(./RubikMonoOne-Regular.ttf);
}

body {
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 245, 210, 1);
}

body div {
  display: flex;
}

.cardContainer {
  border-radius: 100px;
  width: 90vw;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  background-image: url('IMG_0553.JPG');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.innerContainer {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(145, 245, 210, 1);
  width: 400px;
  max-width: 600px;
  height: 600px;
  padding: 1vh;
}

.logo {
  font-family: 'RubikMonoOne';
  position: absolute;
  left: 10vw;
  width: 200px;
}

.formArea {
  max-height: 400px;
}

.row {
  flex-direction: row;
  margin: 2vw;
}

.userInput {
  flex-direction: column;

  justify-content: space-between;
  align-items: left;
}

.introParagraphs {
  font-weight: 1;
  margin: 2vw;
}

.submitArea {
  justify-content: center;
}

button {
  font-family: 'Courier New', Courier, monospace;
  border: none;
  width: 100px;
  height: 50px;
  opacity: 0.3;
}

button:hover {
  background-color: white;
  opacity: 0.8;
}

input {
  font-family: 'Courier New', Courier, monospace;
  border-style: none;
  height: 3vh;
  background-color: white;
  opacity: 0.3;
}

input:hover {
  opacity: 0.55;
}

input:focus {
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  border-style: none;
  outline-offset: 0;
  max-height: 3vh;
  border-bottom: 3px dashed white;
  background-color: white;
  opacity: 0.8;
}

.field {
  width: 150px;
}
